.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.flexContainerRow {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: stretch;
}
.flexContainerColumn {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
}
.red {
    background-color: red;

}

.white {
    background-color: white;

}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.pink {
    background-color: pink;
}

.flex1 {
    flex: 1;
    
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

.flex5 {
    flex: 5;
}

.border {
    border: 1px black solid;
}